<h1>Enter Keyword</h1>

<%= form_with model: @parameter,
              url: result_search_index_path,
              method: :get,
              local: :true do |form| %>
  <div>
    <%= form.text_field :keyword %>
    <%= form.submit :search %>
  </div>
<% end %>
