<h1>Result</h1>

<div>
  <% if @parameter %>
    <h4><%= @parameter.keyword %></h4>
  <% end %>
</div>

<table>
  <tr>
    <% if @hub_status %>
     <td>github require success</td>
    <% end %>
    <% if @lab_status %>
      <td>gitlab require success</td>
    <% end %>
  </tr>
</table>


<% if @results %>
  <table>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.full_name %></td>
          <td><%= result.html_url %></td>
          <td><%= result.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
